html, body {
    min-height: 100%;
}

body {
    &:before {
        position: absolute;
        z-index: -1;
        content: '';
        opacity: .25;
        top: 0; left: 0; right: 0; bottom: 0;
        filter: grayscale(100%);
        background-image: url('../img/webartisans.svg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 25%;
    }
}